<!DOCTYPE html>
<html>  
    <head>  
        <title>Signup</title>
        <link rel="stylesheet" type="text/css" href="/static/form.css" /> 
    
    </head>
    <body>
        <h2>Sign up, it's super fun!!</h2>
        <!-- fieldset???? -->
        <form action="/confirm" method="post" name="signup">
        
            <div><label>Username</label><input type="text" name="username" value="{{ username }}" required>
                <span class="error">{{ error1 }}</span></div>
            <div><label>Password</label><input type="password" name="passw" required>
                <span class="error">{{ error2 }}</span></div>
            <div><label>Confirm Password</label><input type="password" name="conf_pass" required>
                <span class="error">{{ error3 }}</span></div>
            <label>Email address</label><input type="text" name="email" value="{{ email }}"><span class="error">{{ error4 }}</span>
            <span id="opt">(optional)</span>
            
            <p><input type="submit" value="Submit to it!">
            
        </form>
    </body>
</html>